
/*收获地址*/
.shdz{
	min-height: 140px;
	margin-top: 84px;
	padding: 0px;
	margin-left: 70px;
}
.shdz_t{
	width: 100%;
	min-height: 45px;
	background: #FAFAFA;
	font-size: 18px;
	line-height: 45px;
	text-indent: 20px;
	color: #585858;
}
.shdz .shdz_b{
	width: 100%;
	min-height: 95px;
	/*background: violet;*/
}
.shdz .shdz_b button{
	min-width: 112px;
	border: 1px solid #E8380D;
	background: #fff;
	color: #EB9595;
	margin-top: 35px;
	margin-left: 40px;
}
.shdz .shdz_b .dizhi{
	height: 550px;
	background-color: #fff;
    position: relative;
    top: -50px;
    left: 0px;
    display: none;
}
.shdz .shdz_b .dizhi .ren{
	margin-left: 45px;
	font-size: 14px;
	color: #666666;
}
.shdz .shdz_b .wancheng{
	width: 300px;
	height: 220px;
	background-color: #fff;
	position: relative;
	top: -40px;
	left: 35px;
	display: none;
}
.shdz .shdz_b .wancheng .wan{
	width: 100%;
	height: 145px;
	border: 1px solid #e8340e;
}
.shdz .shdz_b .wancheng .wan .neirong{
	width: 100%;
	min-height: 33px;
	border-bottom: 1px dashed #d5d5d5;
	line-height: 33px;
	text-indent: 20px;
	font-size: 15px;
	color: #8b98a6;	
}









/*支付方式*/
.zffs{
	min-height: 140px;
	/*background: pink;*/
	padding: 0px;
	margin-left: 70px;
}
.zffs .zffs_b{
	width: 100%;
	min-height: 95px;
	/*background: violet;*/
}
.zffs .zffs_b input{
	width: 25px;
	height: 25px;
	margin-left: 80px;
	margin-top: 35px;
	float: left;
}
.zffs .zffs_b a:hover{
	color: #E8380D;
}
.zffs .zffs_b span{
	display: inline-block;
	float: left;
	margin-left: 8px;
	line-height: 90px;
	color: #666;
}

/*商品清单*/
.spqd{
	min-height: 320px;
	/*background: pink;*/
	padding: 0px;
	margin-left: 70px;

}
.spqd .spqd_b{
	width: 100%;
	min-height: 255px;
	/*background: violet;*/
	margin-top: 20px;
	margin-bottom: 50px;
	padding: 0px;
}
.spqd .spqd_b table{

}
.spqd .spqd_b table tr:first-child th{
    height: 75px;
    border: 1px solid #e7e7e7;
    text-align: center;
    background-color: #fafafa;
}
.spqd .spqd_b table tr:first-child th:first-child{
	width: 470px;
}
.spqd .spqd_b table tr:first-child th:nth-child(2){
	width: 270px;
}
.spqd .spqd_b table tr:first-child th:nth-child(3){
	width: 215px;
}
.spqd .spqd_b table tr:first-child th:last-child{
	width: 225px;
}
.spqd .spqd_b table tr td{
	background-color: #fff;
	color: #666666
}
.spqd .spqd_b table tr td .xiaon{
	width: 70px;
	height: 100px;
	margin-left: 45px;
	float: left;
	margin-top: 5px;
}
.spqd .spqd_b table tr td .titles{
	width: 400px;
	height: 50px;
    float: left;
    margin-top: 15px;
}
.spqd .spqd_b table tr td .titles p{
    clear: left;
    text-indent: 18px;
    line-height: 8px;
}
.spqd .spqd_b table tr td .titles p a{
	font-size: 13px;
	color: #464646;
}
.spqd .spqd_b table tr td .jin{
	text-align: right;
	margin-bottom: 10px;
}
.spqd .spqd_b table tr td .jin span{
	margin-right: 5px;
	color: #ea4725;
	margin-left: 5px;
}
.spqd .spqd_b table tr td .jin:last-child{
	float: right;
}
.spqd .spqd_b table tr td .jin input{
	width: 95px;
	height: 30px;
	background-color: #e8380d;
	border: none;
	border-radius: 7px;
	color: #fff;
}