*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}

/*导航start*/
.nav{
	width: 100%;
	min-height: 63px;
	/*background-color: lightblue;*/
	box-shadow: 3px 4px 3px 3px #ECECEC;
}
.nav .dh{
	min-height: 63px;
	/*background-color: lightgreen;*/
	margin-left: 50px;
}
.nav .dh ul .li1{
	min-width: 155px;
}
.nav .dh ul li{
    min-width: 120px;
    height: 65px;
    /*background-color: #bdbdbd;*/
    float: left;
    line-height: 65px;
    text-align: center;
    font-size: 17px;
    /*border: 1px solid #000;*/
}
.nav .dh ul li p{
	float: left;
    min-width: 120px;
    line-height: 70px;
    /*margin-left: 3px;*/
    color: #999999;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.nav .dh ul .action{
	border-bottom: 2px solid #E3381F;
	/*background-color: lightblue;*/
	color: #3E3E3E;
}
.nav .dh ul .action span{
	background-color: #FF0036;
}
.nav .dh ul .action p{
	color: #3E3E3E;
}
/*导航end*/

/*商品介绍start*/
.sp{
	width: 1366px;
	min-height: 1500px;
	/*background-color: lightblue;*/
	margin-top: 13px;
	margin: 0px auto;
}
.sp .sp1{
	margin-left: 140px;
}
.sp .sp-l{
	min-height: 500px;
	/*background-color: lightgreen; */
	position: fixed;
	top: 250px;
	left: 150px;
}
.sp .sp-l .sp-l-t{
	width: 380px;
	height: 400px;
	/*background:violet;*/
	margin-left: -15px;
}
.sp .sp-l .sp-l-c button{
	width: 112px;
}
.sp .sp-l .sp-l-b{
	width: 380px;
	height: 90px;
	/*background:violet;*/
	margin-left: -15px;
	margin-top: 18px;
}
.sp .sp-l .sp-l-b img{
	margin-right: 3px;
}
.sp .sp-l .sp-l-sc{
	width: 380px;
	height: 38px;
	/*background:violet;*/
	margin-left: -15px;
	margin-top: 30px;
	color: #EF785B;

}
.sp .sp-l .sp-l-sc a{
	margin-left: -10px;
	color: #666;
}
.sp .sp-l .sp-l-sc .sp-l-sc-l{
	width: 60px;
	height: 38px;
	/*background-color: lightblue;*/
	float: left;
	line-height: 38px;
}
.sp .sp-l .sp-l-sc .sp-l-sc-r{
	width: 60px;
	height: 38px;
	/*background-color: lightblue;*/
	margin-left: 35px;
	float: left;
	line-height: 38px;
}
.sp .sp-r{
	min-height: 1444px;
	/*background-color: yellow;*/
	float: right;
}
.sp .sp-r .sp-r-t{
	min-width: 574px;
	min-height: 57px;
	/*background: lightgreen;*/
	border-bottom: 1px solid #D7D7D7;
}
.sp .sp-r .sp-r-t ul li{
	float: left;
	line-height: 57px;
}
.sp .sp-r .sp-r-t ul li a{
	color: #999;
}
.sp .sp-r .sp-r-t ul .li1{
	font-size: 28px;
	font-weight: bold;
}
.sp .sp-r .sp-r-t ul .li2{
    font-size: 20px;
    color: #FF6700;
    margin-left: 11px;
}
.sp .sp-r .qg{
	min-height: 25px;
	/*background: lightblue;*/
	margin-top: 9px;
}
.sp .sp-r .qg a{
	margin-left: -10px;
	line-height: 25px;
	color: #FF4D4D;
	font-size: 17px;
}
.sp .sp-r .ys{
	min-height: 30px;
	/*background: lightgreen;*/
	margin-top: 40px;
	font-size: 20px;
	color: #000;
}
.sp .sp-r .ys a{
	text-decoration: underline;
	font-size: 18px;
	margin-left: 24px;
	color: #E8380D;
}
.sp .sp-r .lb{
	min-height: 75px;
	/*background: violet;*/
	margin-top: 12px;
}
.sp .sp-r .bk{
	min-height: 73px;
	border: 1px solid #E9E9E9;
	text-align: center;
	line-height: 73px;
	font-size: 19px;
	color: #000;
	margin-left: 13px;
}
.sp .sp-r .bks{
	/*margin-left: -13px;*/
	border: 1px solid #FB1515;
}

.sp .sp-r .tz{
	min-height: 73px;
	border: 1px solid #E9E9E9;
	text-align: center;
	color: #000;
	margin-left: 13px;
}
.sp .sp-r .tzs{
	margin-left: -13px;
	border: 1px solid #FB1515;
}
.sp .sp-r .tz .p1{
	font-size: 13px;
	margin-top: 9px;
}
.sp .sp-r .tz .p2{
	font-size: 16px;
}
.sp .sp-r .tz .p2 span{
	display: inline-block;
	color: #FB1515;
}
.sp .sp-r .fw{
	margin-left: -13px;
	min-height: 73px;
	border: 1px solid #E9E9E9;
	text-align: center;
	line-height: 73px;
	font-size: 19px;
	color: #000;
}
.sp .sp-r .fws{
	border: 1px solid #FB1515;
}
.sp .sp-r .xz{
	height: 320px;
	/*background: lightgreen;*/
	margin-top: 58px;
}
.sp .sp-r .xz .xz1{
	margin-left: -10px;
	font-size: 20px;
	color: #000;
}
.sp .sp-r .xz .p1{
	margin-left: -10px;
	font-size: 16px;
	color: #000;
}
.sp .sp-r .xz .zj{
	min-height: 30px;
	/*background: violet;*/
	margin-left: -10px;
}
.sp .sp-r .xz .zj p{
	margin-left: -13px;
	font-size: 18px;
	color: #000;
	line-height: 30px;
}
.sp .sp-r .xz .zj p span{
	display: inline-block;
	font-size: 25px;
	color: #FB1515;
}

.sp .sp-r .xz .hb{
	min-height: 10px;
	/*background: pink;*/
	margin-left: -10px;
}
.sp .sp-r .xz .hb p{
	margin-left: -13px;
	color: #000;
}
.sp .sp-r .xz .fq{
	min-height: 65px;
	/*background: violet;*/
	margin-left: -10px;
}
.sp .sp-r .xz .fq p{
	text-align: center;
	color: #000;
	font-size: 17px;
}
.sp .sp-r .xz .fq .p1{
	margin-top: 5px;
}
.sp .sp-r .xz .fq .fq1{
	min-height: 65px;
	border: 1px solid #e9e9e9;
	margin-left: -15px;
}
.sp .sp-r .xz .fq .fq2{
	margin-left: 7px;
}
.sp .sp-r .xz .tj{
	min-height: 76px;
	/*background: blue;*/
	margin-left: -10px;
}
.sp .sp-r .xz .tj .tj1{
	min-height: 33px;
	min-width: 126px;
	background: #E8380D;
	border: none;
	margin-top: 40px;
}
/*商品介绍end*/


/*身体start*/
.pp{
	padding: 0px;
}
.big{
	margin: 0px auto;
	width: 1366px;
	min-height: 40px;
}
.big .top{
	min-width: 1366px;
	min-height: 40px;
	/*background: lightblue;*/
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
}
.big .top ul{
	width: 300px;
	height: inherit;
	/*background: red;*/
	margin-left: 80px;
}
.big .top ul li{
	width: 90px;
	height: 33px;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
}
.big .top ul .active{
	color: #E33B1F;
}
.big .content{
	min-height:900px;
	overflow: hidden;
	clear: both;
	width: inherit;
}

section{
	height:auto;
	overflow: hidden;
}

.big .content .tab{
	display: block;
	width:100%;
}
.big .content .xpxq{
	display: block;
}
.big .content .cs{
	display: none;
}
.big .content .active{
	z-index:2;
}
.big .content .jb .jbxx{
   min-height: 410px;
   /*background: lightblue;*/
   border-bottom: 1px solid #f4f4f4;
   margin-top: 20px;
}
.big .content .jb .jbxx .p1{
	font-size: 25px;
	color: #797979;
	float: left;
}
.big .content .jb .jbxx .js{
	min-width: 363px;
	min-height: inherit;
	/*background: violet;*/
	float: left;
	margin-left: 70px;
}
.big .content .jb .jbxx .js span{
	display: inline-block;
	font-size: 18px;
	margin-top: 45px;
	float: left;
}
.big .content .jb .jbxx .js ul{
	float: left;
	margin-top: 35px;
	line-height: 38px;
	text-indent: 10px;
}
.big .content .jb .jbxx .js ul li i{	
	width: 35px;
	height: 35px;
	background: #786139;
	float: left;
	border-radius: 100%;
}
.big .content .jb .jbxx .js ul li .a1{
	background:#3A6ABF;
}
.big .content .jb .jbxx .js ul li a{
	color: #787878;
}
.big .content .jb .jbxx .xx{
	min-width: 141px;
	min-height: 252px;
	/*background: pink;*/
	margin-left: 59px;
	margin-top: 15px;
	float: left;
	font-size: 16px;
	color: #ADADAD;
}
.big .content .jb .jbxx .xx p{
	margin-top: 16px;
}
.big .content .jb .jbxx .xx p span{
	display: inline-block;
	margin-left: 23px;
}
.big .content .jb .jbxx .sxt{
	min-width: 320px;
	min-height: 307px;
	/*background: violet;*/
	float: left;
	margin-left: 70px;
}
.big .content .jb .jbxx .sxt span{
	display: inline-block;
	font-size: 23px;
	color: #474747;
}
.big .content .jb .jbxx .sxt ul li{
	margin-top: 9px;
}
.big .content .jb .jbxx .sxt ul .li1{
	margin-top: 21px;
}
.big .content .jb .jbxx .xx1{
	min-width: 141px;
	min-height: 252px;
	/*background: pink;*/
	margin-left: 59px;
	float: left;
	font-size: 16px;
}
.big .content .jb .jbxx .xx1 span{
	font-size: 22px;
	color: #585858;
}
.big .content .jb .jbxx .xx1 ul li{
	margin-top: 9px;
}
.big .content .jb .jbxx .xx1 ul .li1{
	margin-top: 21px;
}
.big .content .jb .pm{
	min-height: 232px;
}
.big .content .jb .pm .cc{
	float: left;
	min-width: 80px;
	min-height: inherit;
	/*background: violet;*/
	margin-left: 120px;
}
.big .content .jb ul li{
	margin-top: 8px;
}
.big .content .jb ul .li1{
	margin-top: 0px;
}
.big .content .jb ul .li2{
	margin-top: 28px;
}
.big .content .jb ul .li3{
	margin-top: 54px;
}
.big .content .jb .pm .xx2{
	min-width: 172px;
	min-height: 252px;
	/*background: pink;*/
	margin-left: 59px;
	float: left;
}

.big .content .jb .clq{
	min-height: 182px;
}
.big .content .jb .clq .cc{
	float: left;
	min-width: 220px;
	min-height: inherit;
	/*background: pink;*/
	margin-left: 120px;
}

.big .content .jb .nc{
	min-height: 253px;
}
.big .content .jb .nc .sc{
	min-width: 156px;
	min-height: 209px;
	/*background: pink;*/
	float: left;
	margin-left: 48px;
}
.big .content .jb .nc .kzk{
	min-width: 167px;
	min-height: 209px;
	/*background: violet;*/
	float: left;
	margin-left: 95px;
}
.big .content .jb .tx{
	min-height: 476px;
}
.big .content .jb .tx .qwt{
	min-width: 667px;
	min-height: inherit;
	/*background: pink;*/
	float: left;
	margin-left: 43px;
}
.big .content .jb .tx .qwt ul li{
	margin-top: 13px;
}
.big .content .jb .tx .qwt ul .li1{
	margin-top: 0px;
	font-size: 22px;
}
.big .content .jb .tx .qwt ul .li2{
	margin-top: 28px;
}
.big .content .jb .tx .qwt ul li ol .li3{
    margin-left: 230px;
}
.big .content .jb .tx .qwt ul li .qwt1{
	min-height: 94px;
	/*background: violet;*/
}
.big .content .jb .tx .qwt ul li .qwt1 .gsm{
	min-height: inherit;
	border: 1px solid #DBDBDB;
	margin-left: 3px;
	border-radius: 5px;
}
.big .content .jb .tx .qwt ul li .qwt1 .gsm .p2{
	text-align: center;
}
.big .content .jb .tx .qwt ul li .qwt1 .gsm .p3{
	margin-left: 19px;
}
.big .content .jb .tx .qwt ul li .qwt1 .gsm1{
	margin-left: -15px;
}
.big .content .jb .tx .qwt ul .li3 span{
    display: inline-block;
    font-size: 22px;
}
.big .content .jb .tx .qwt ul .li3 .span1{
	margin-left: 183px;
	margin-top: 28px;
}
.big .content .jb .dh{
	min-height: 92px;
}
.big .content .jb .dh .sc{
	min-width: 384px;
	min-height: inherit;
	/*background: pink;*/
	float: left;
	margin-left: 90px;
}
.big .content .jb .dh .sc ul li{
	color: #888;
}
.big .content .jb .aj{
	min-height: 404px;
}
.big .content .jb .bz{
	min-height: 413px;
	border-bottom: none;
}
/*身体end*/
/*上边导航start*/
.sbdh{
	min-width: 1366px;
	min-height: 58px;
	background: rgba(255,255,255,0.7);
	border-bottom: 1px solid #DDDDDD;
	position: fixed;
	top: 0px;
	left: 0px;
	display: none;

}
.sbdh .fk{
	width: 410px;
	min-height: inherit;
	/*background: lightblue;*/
	/*float: right;*/
	margin-left: 885px;
}
.sbdh .fk p{
	line-height: 58px;
	color: #666;
	float: left;
}
.sbdh .fk button{
    float: left;
    width: 126px;
    height: 40px;
    margin-left: 5px;
    margin-top: 9px;
    background: #E8380D;
    color: #fff;
    border: none;
}
/*上边导航end*/